{{!-- Footer partial --}}
<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4">
    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

          <!-- Content -->
          <img src="images/my-logo.jpg" class="footer-img" data-toggle="tooltip" data-placement="right" title="Company logo">
        </div>
        
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

          <!-- Contact details -->
          <h5 class="font-weight-bold text-uppercase text-center mb-4 address">Developer Address</h5>

          <ul class="list-unstyled">
            <li>
              <p class="address-details">
                <i class="fa fa-home mr-3 adress-icons"></i> Ongole, INDIA </p>
            </li>
            <li>
              <p class="address-details">
                <i class="fa fa-envelope mr-3 adress-icons"></i> bharath@gmail.com</p>
            </li>
            <li>
              <p class="address-details">
                <i class="fa fa-phone mr-3 adress-icons"></i> +91 123 456 7890</p>
            </li>
            <li>
              <p class="address-details">
                <i class="fa fa-print mr-3 adress-icons"></i> + 123 456 789</p>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 text-center mx-auto my-4 follow">

          <!-- Social buttons -->
          <h5 class="font-weight-bold text-uppercase mb-4 follow">Follow Me</h5>

          <!-- Github -->
          <a type="button" class="btn-floating btn-github" href="https://github.com/BharathChandra27" target="blank" data-toggle="tooltip" data-placement="right" title="Github">
            <i class="fab fa-github fa-3x"></i>
          </a>
          <!-- Facebook -->
          <a type="button" class="btn-floating btn-facebook" href="https://www.facebook.com" target="blank" data-toggle="tooltip" data-placement="right" title="Facebook">
            <i class="fab fa-facebook-square fa-3x"></i>
          </a>
          <!-- Twitter -->
          <a type="button" class="btn-floating btn-twitter" href="https://twitter.com" target="blank" data-toggle="tooltip" data-placement="right" title="Twitter">
            <i class="fab fa-twitter-square fa-3x"></i>
          </a>
          <!-- Instagram-->
          <a type="button" class="btn-floating btn-insta"  href="https://www.instagram.com" target="blank" data-toggle="tooltip" data-placement="right" title="Instagram">
            <i class="fab fa-instagram fa-3x"></i>
          </a>
          <!-- LinkedIn-->
          <a type="button" class="btn-floating btn-linkedin" href="https://www.linkedin.com" target="blank" data-toggle="tooltip" data-placement="right" title="Linkedin">
            <i class="fab fa-linkedin fa-3x"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="#"> BharathSolutions.PVT.LTD</a>
      All Rights Reserved.
    </div>
  </footer>