{{!-- Navbar Partial --}}
<div class="topnav" id="myTopnav">
  <a href="/" data-toggle="tooltip" data-placement="right" title="Just Click">Bharath Chandra</a>
  <a href="/home" data-toggle="tooltip" data-placement="right" title="Home page"><i class="fa fa-fw fa-home"></i>Home</a>
  <a href="/profile" data-toggle="tooltip" data-placement="right" title="Profile page"><i class="fas fa-user-secret"></i> Profile</a>
  <a href="/register" data-toggle="tooltip" data-placement="right" title="Registration page"><i class="fas fa-user-plus"></i> Register</a>
  <a href="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
  <a href="javascript:void(0);" class="icon" onclick="myNavbarResponsiveFunction()">&#9776;</a>
  <form class="form-inline my-2 my-lg-0 nav-form">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" data-toggle="tooltip" data-placement="bottom" title="Search">Search</button>
  </form>
</div>
