{{!-- Default Page --}}
<div class="my-container">
    <p class="text"> Hi there this is just starting page of this web site, and I really enjoyed while building this and 
        more fun and cool stuff included, So check it if you like...
    </p>
    <h1>Important:</h1>
    <p class="text">This web site is under maintainence and done just for practice. So please give your feedback provided in profile
        section for any kind of improvements and I really consider that. Thanks for spending your valuble time for viewing
        this and " May Force Be With You "
    </p>
</div>