{{!-- Home Page --}}
<div class="card bg-dark text-white card-image">
  <img src="images/card-bg-img.jpg" class="card-img" alt="card bg img">
  <div class="card-img-overlay">
    <h5 class="card-title card-title text-dark">Hi There</h5>
    <p class="card-text"> Hi all I'm Bharath chandra.D  I'm a Freelancer and  Full Stack Developer and most importantly I'm Author of this page and 
        this is a project of mine and I developed this web site using some frameworks and some languages.
        Had a good experience doing this project, so check it if you like. One last thing is if you're also willing 
        to become a Full Stack Developer too, you can contact me via email provided in profile page and you can 
        relay on me and I'll make you you a better person than where I found you. So that's a wrap and let's move on.</p>
    <h5 class="card-title card-title text-dark">Can you read this?</h5>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
        mollit anim id est laborum.</p>
    <a href="/login" class="btn btn-dark btn-lg btn-card">Touch here to LogIn </a>
    <p class="card-text text-update">Last updated 7 days ago</p>
  </div>
</div>