{{!-- Needhelp? Page --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LogIn | Needhelp?</title>
    <style>
        html {
            background-color: cornflowerblue;
        }
        .my-container {
            margin: 100px;
            padding: auto;
            overflow: hidden;
        }
        p,h1 {
            font-size: 1.4rem;
        }
    </style>
</head>
<body>
    <div class="my-container">
        <h1>Important:</h1>
        <p class="text">Hi there if you are new here, firstly you have to <a href="/register">register</a> , 
            and then login</p>
        <p> If you are registered and not able to login, then leave a mail to bharath@gmail.com. 
            And I'll rectify your problem as soon as possible </p>
    </div>
</body>
</html>