{{!-- Success Page --}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LogIn | Success</title>
    <style>
        html {
            background-color: cornflowerblue;
        }
        .my-container {
            margin: 100px;
            padding: auto;
            overflow: hidden;
        }
        button.btn-logout {
            background-color: brown;
            border-radius: 1rem;
            padding: 20px;
        }
        button.btn-dash {
            background-color: brown;
            border-radius: 1rem;
            padding: 20px;
            margin: 0px 0px 0px 650px;
        }
        button.btn-logout a, button.btn-dash a {
            text-decoration: none;
            color: #fff;
            font-size: 2rem;
            font-family: monospace;
            
        }
        button.btn-logout:hover, button.btn-dash:hover {
            background-color: burlywood;
        }
        h1 {
            color: #eee;
            font-size: 3rem;
            font-family: cursive;
        }
        h3,h2 {
            color: black;
            font-family: monospace;
            font-size: 2.3rem;
        }
        /*** Mobile Compatability ****/

        @media screen and (max-width: 650px) {
            button.btn-dash {
                margin: 0 0 10px 0;
            }
        }
    </style>
</head>
<body>
    <div class="my-container">
        <button class="btn-dash"><a href="/dashboard"> Dashboard</a></button>
        <button class="btn-logout"><a href="/logout"> Logout</a></button>
        <h1>Hurrey!!!!</h1>
        <h2>Hi there ,You have been successfully Logged In.</h2>
        <h3>This site is stil under construction.... So thanks for visiting this 
            page and shortly I'll update the capabilities of this page. Thanks once again and please 
            provide feedback in profile page..
        </h3>
        <br>
    </div>
</body>
</html>